[Unit]
Description=Bootiful Podcast Processor
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ec2-user
ExecStart=/usr/bin/env /home/ec2-user/app/run.sh

[Install]
WantedBy=multi-user.target
