[Unit]
Description=bootiful-podcast-processor
After=network.target
StartLimitIntervalSec=60

[Service]
Type=simple
Restart=always
RestartSec=1
#Restart=on-failure


User=ec2-user
ExecStart=/usr/bin/env /home/ec2-user/app/run.sh

[Install]
WantedBy=multi-user.target
